/* todo 报告精选 */
.black_title_box{
    width: 100%;
}
.black_title{
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.black_title>p{
    width: 100px;
    color: #fe5341;
    position: relative;
    right: 50px;
}
.black_title>p>.more{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 2px;
}
.black_title>p>.more:hover{
    cursor: pointer;
}
.black_title .black_pic{
    position: absolute;
    right: 0;
    width: 25px;
}
.black_title .black_pic:hover{
    cursor: pointer;
}
.grey_block{
    background-color: rgb(247,247,247);
}
/* todo 报告精选下的ul */
.black_title>ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: normal;
}
.black_title>ul>li{
    width: 20%;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 7px 13px 9px 3px #ccc;
    transition: all 0.5s;
}
.black_title>ul>li:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.black_title>ul>li>.img_box{
    width: 100%;
    height: 125px;
    overflow: hidden;
}
.black_title>ul>li>.img_box>img{
    width: 100%;
    height: 125px;
    transition: all 0.8s;
}
.black_title>ul>li>.img_box>img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.black_title>ul>li>p{
    color: #474747;
    height: 58px;
    margin: 10px 10px 15px 10px;
}
.black_title>ul>li>p:hover{
    color: #fe5341;
}
.black_title>ul>li>.nice{
    width: 100%;
    font-size: 13px;
    color: #707070;
    margin: 25px 10px;
    display: flex;
    justify-content: space-between;
}
.black_title>ul>li .nice_right{
    display: flex;
    margin-right: 20px;
}
.black_title ul li .zan,.black_title ul li .xin{
    width: 15px;
}
.black_title ul li .zan_num,.black_title ul li .xin_num{
    width: 30px;
    margin-left: 3px;
}
.black_title>ul>li .ping{
    width: 15px;
}
.black_title>ul>li .ping_num{
    width: 25px;
    margin-left: 2px;
}



/* todo 导购精选 */
.black_title>ul>#guide{
    border: none;
    box-shadow: none;
    padding-bottom: 20px;
    transition: all 0.5s;
    background: url(../src/img/listbg.jpg) no-repeat 10px 233px;
    background-size: 200px 19px;
}
.black_title>ul>#guide:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.black_title>ul>#guide>.guide_right{
    width: 100%;
    font-size: 13px;
    color: #707070;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-radius:0 0 5px 5px;
    border: 1px solid #ccc;
    background-color: white;
}
.black_title>ul>#guide>.guide_right div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* .black_title>ul>#guide img:hover{
    transform: scale(1.2);
    cursor: pointer;
} */
.black_title>ul>#guide p{
    margin: 20px 15px 15px 15px;
}
.black_title>ul>#guide>.guide_right img{
    transition: all 0.8s;
}
/* todo 发现酷玩 */
.black_title>ul>.play{
    box-shadow: none;
}
.black_title>ul>.play:hover{
    transform: translateY(0) scale(1.05);
    box-shadow: 0px 13px 9px 3px #e2e2e2;
}
.black_title>ul>.play>.img_box>img{
    opacity: 0.7;
}
.black_title>ul>.play>.img_box>img:hover{
    opacity: 1;
}
.black_title>ul>.play>.nice{
    margin-bottom: 15px;
}
.black_title>ul>.play>p{
    height: 20px;
    margin: 10px 0 2px 0;
    padding-left: 10px;
}
.black_title>ul>.play>.play_first_p:hover{
    color: #fe5341;
    cursor: pointer;
}
.black_title>ul>.play>.play_second_p{
    font-size: 12px;
    color: rgb(150, 150, 150);
    margin-top: 5px;
}
.black_title>ul>.play>.nice>p{
    color: #fe5341;
    font-size: 14px;
}
.black_title>ul>.play>.nice>.nice_right{
    margin-right: 10px;
}
.black_title>ul>.play>.nice>.nice_right>img{
    height: 15px;
}

/* todo 点击加载更多 */
.click_more{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #fe5341;
}
.click_more>img{
    width: 20px;
    /* animation: load 1.8s linear; */
}
.click_more>span{
    margin-left: 10px;
}
.click_more>span:hover{
    cursor: pointer;
}
.grey_block{
    padding-bottom: 20px;
}
.black_title_box>.black_title>.play_hidden{
    display: none;
}
@keyframes load{
    0%{transform: rotateZ(0);}
    50%{transform: rotateZ(-180deg);}
    100%{transform: rotateZ(-360deg);}

}
.bl_zan{
    animation: large 1.5s linear;
}
.bl_xin{
    animation: large 1.5s linear;
}
@keyframes large{
    0%{ opacity: 0;}
    50%{
        transform: scale(2);
        opacity: 1;
    }
    75%{
        opacity: 0.6;
    }
    75%{
        opacity: 1;
        transform: scale(1);

    }
}